
<%= image_tag user.get_profile_image(100,100) %>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>説明</td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>
